.skeletonDetails {
    padding: 20px ;

    flex-wrap: wrap;
    gap: 12px;

    display: flex;
    .inline1 {
        width: 70%;
    }

    .inline2 {
        flex: 1;
    }

    .bottom {
        width: 100%;
        //flex: 1;
    }
}

@media (width <= 600px) {
    .skeletonDetails {
        .inline1 {
            width: 100%;
        }
    }
}
