.skeletonDetails {
  padding: 20px;
  flex-wrap: wrap;
  gap: 12px;
  display: flex;
}
.skeletonDetails .inline1 {
  width: 70%;
}
.skeletonDetails .inline2 {
  flex: 1;
}
.skeletonDetails .bottom {
  width: 100%;
}

@media (width <= 600px) {
  .skeletonDetails .inline1 {
    width: 100%;
  }
}