.gridItem {
  transition: 300ms;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 200px;
  border-radius: 8px;
  cursor: pointer;
}

.gridItem:hover {
  transition: 300ms;
  transform: scale(1.2);
}